In [56]:
# Dependencies
import pandas as pd

In [57]:
# Store filepath in a variable
file_one = "Resources/avenger_update.csv"

In [70]:
file_one_df = pd.read_csv(file_one, encoding="ISO-8859-1")
file_one_df.head()

            Tony Stark / Iron Man /35:30
0  Steve Rogers / Captain America /35:30
1     Dr. Bruce Banner / The Hulk /20:45
2                            Thor /20:30
3            Clint Barton / Ronin /19:30
4  Natasha Romanoff / Black Widow /18:15

In [27]:
df.dropna(inplace = True) 
df.dtypes

Tony Stark / Iron Man /35:30    object
dtype: object

In [71]:
df['Tony Stark / Iron Man /35:30'] = df['Tony Stark / Iron Man /35:30'].astype('|S80')

In [73]:
df.to_csv('new_file.csv', sep='\t', index=False)
new_df = pd.read_csv('new_file.csv')
print(new_df)

                         Tony Stark / Iron Man /35:30
0            b'Steve Rogers / Captain America /35:30'
1               b'Dr. Bruce Banner / The Hulk /20:45'
2                                      b'Thor /20:30'
3                      b'Clint Barton / Ronin /19:30'
4            b'Natasha Romanoff / Black Widow /18:15'
5                                       b'Nebula /16'
6                      b'Scott Lang / Ant-Man /14:45'
7                                    b'Thanos /13:45'
8    b'"James ""Rhodey"" Rhodes / War Machine /8:30"'
9                                        b'Rocket /8'
10            b'Carol Danvers / Captain Marvel /5:45'
11                                       b'Gamora /5'
12                       b'Sam Wilson / Falcon /4:30'
13                     b'Pepper Potts / Rescue /4:30'
14                              b'Morgan Stark /3:30'
15                           b'The Ancient One /3:30'
16                                    b'Frigga /3:30'
17                              b'Howard Stark /3:15'
18                 b'Peter Parker / Spider-Man /3:15'
19                      b'Peter Quill / Star-Lord /3'
20                                  b'Valkyrie /2:30'
21            b'Wanda Maximoff / Scarlet Witch /2:15'
22     b'"James ""Bucky"" Barnes / White Wolf /2:15"'
23                                        b'Okoye /2'
24             b"King T'Challa / Black Panther /1:45"
25                   b'Hope van Dyne / The Wasp/1:30'
26                                 b'Ebony Maw /1:30'
27                                    b'Mantis /1:15'
28                                  b'Groot II /1:15'
29                            b'Princess Shuri /1:15'
..                                                ...
348                                        b'Drax /1'
349                    b'"Harold ""Happy"" Hogan /1"'
350                                        b'Loki /1'
351                        b'Agent Jasper Sitwell /1'
352                          b'Agent Brock Rumlow /1'
353                                     b'Akihiko /1'
354                                        b'Korg /1'
355                                      b'Miek /:45'
356                                      b'Wong /:45'
357                           b'The Stonekeeper /:45'
358                               b'Cassie Lang /:45'
359                              b'Laura Barton /:45'
360                             b'Cooper Barton /:45'
361                          b'Nathaniel Barton /:45'
362                             b'Corvus Glaive /:45'
363                              b'Dr. Hank Pym /:30'
364                          b'Alexander Pierce /:30'
365                          b'Proxima Midnight /:30'
366                             b'Cull Obsidian /:30'
367                            b'Janet van Dyne /:15'
368                              b'Edwin Jarvis /:15'
369                           b'Dr. Jane Foster /:15'
370                                 b'Ned Leeds /:15'
371                                b'May Parker /:15'
372                   b'Secretary Thaddeus Ross /:15'
373                             b'Queen Ramonda /:15'
374                                    b"M'Baku /:15"
375                             b'Harley Keener /:15'
376                                b'Maria Hill /:15'
377                           b'Nick Fury /:15</div>'

[378 rows x 1 columns]